[package]
name = "monolake"
version = "0.2.0"
edition = "2021"
keywords = ["monoio", "http", "async"]
description = "High Performance Proxy base on Monoio"

[features]
default = []
openid = ["monolake-core/openid", "monolake-services/openid"]
proxy-protocol = [
    "monolake-core/proxy-protocol",
    "monolake-services/proxy-protocol",
]

[dependencies]
monoio = { version = "0.1.5", features = ["sync", "async-cancel"] }
monolake-core = { path = "../monolake-core" }
monolake-services = { path = "../monolake-services" }
service-async = "0.1.5"
certain-map = "0.2.3"

# tls: needed for native-tls init
monoio-native-tls = "0.1.0"

# error
anyhow = "1"

# log
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# parse
clap = { version = "4", features = ['derive'] }
serde = "1"
serde_json = "1"
toml = "0"
